input[type=submit] {
    background-color: purple;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: brown;
}
.container {
    border-radius: 5px;
    background-color:beige;
    padding: 20px;
}